<div class="spacer"> </div>
<div class="spacer"> </div>

<div class="centered">
    <a href="https://www.patreon.com/bePatron?u=11123241" target="new"><img class="buttonImage animated bounceIn" src="assets/images/become_a_patron_button@2x.png"/></a></br></br>
    <script src="https://liberapay.com/KrilleChritzelius/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/KrilleChritzelius/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
</div>

<div class="spacer"> </div>
<div class="spacer"> </div>

<div id="footer">
    <a href="https://liberapay.com/KrilleChritzelius" target="new">Liberapay</a> -
    <a href="https://github.com/ChristianPauly?tab=repositories" target="new">Repositories</a> -
    <a href="https://github.com/ChristianPauly/fluffychat" target="new">FluffyChat on Github</a> -
    <a href="https://gitlab.com/ChristianPauly" target="new">Gitlab</a> -
    <a href="http://canta-noctem.de" target="new">Music</a> -
    <a href="https://github.com/ChristianPauly/fluffychat#special-thanks-to" target="new">Special thanks to</a> -
    <a href="https://ubports.com" target="new">UBports</a>
</div>
</div>
</div>
